* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 15pt;
    color: #00364a;
    box-sizing: border-box;
}

h1 {
    font-size: 24pt;
    color: #fff;
}

header {
    background-color: #00364a;
    color: #fff;
    width: 100%;
    box-shadow: 1px 1px 4px #000;
}
header div {
    align-items: center;
    display: inline-flex;
    padding-inline: 12px;
    padding-block: 12px; 
    width: 100%;
}
header h1 {
    width: 100%;
}
#botao-inicio {
    color: #00364a;
    font-size: 11pt;
    text-decoration: none;
    background-color: #fff;
    border-radius: 6px;
    padding-inline: 8px;
    padding-block: 8px;
    margin-block: 3px;
}


#caixa-dicas {
    font-family: sans-serif;
    border: 1px dashed #00364a;
    border-radius: 6px;
    width: 90%;
    margin-top: 20px;
    margin-inline: 5%;
    padding: 4px;
    margin-bottom: 10px;
}
ol {
    padding-left: 40px;
    margin-block: 16px;
    margin-inline-end: 6px;
}
li {
    margin-block: 4px;
}
#caixa-dicas p {
    margin-left: 4px;
}
#form-cadastro {
    margin-inline: 16px;
    display: inline-block;
}
.caixa-input {
    margin-bottom: 10px;
    width: 100%;
}
.caixa-input input {
    width: 100%;
}
#caixa-genero {
    margin-bottom: 10px;
    padding: 10px;
}
#botao-cadastrar {
    padding: 6px;
}
